# WordPress
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# Betriebssystem
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node
node_modules/
npm-debug.log
yarn-error.log

# Composer
vendor/
composer.lock

# Sonstiges
*.zip
*.tar.gz
*.sql
